.player-card .emoji-btn{
  padding: 0.4rem;
  border:none !important;
  border-radius: 0;
}

.card-footer-item .icon{
  font-size:1rem;
}

.player-card.card{
  max-width:90vw;
  margin:0 auto;
  margin-top:1em;
  min-width: 320px;
}

@media (min-width: 736px) {

  .player-card.card{
    margin: 1em 0.5em 0 0; 
    flex: 0 0 24%;
    max-width: 24%;
  }
}

.vote-count{
  margin-top: 0.5em;
}